@import '~antd/dist/antd.css';
@media only screen and (min-width: 600px) {
    .tabs{
        font-size: 300%
}
}
@media only screen and (max-width: 600px) {
    .tabs{
        font-size: 300%;
        
        background-color: #453E4E
    }   
}    
